// Colors

$dkcyan: hsl(185, 75%, 39%);
$white: #fff;
$dkgray: hsl(0, 0%, 59%);
$dkgrayblue: hsl(227, 10%, 46%);
$vdarkcyan: hsl(229, 23%, 23%);

// Typography

$font-stack: 'Kumbh Sans', sans-serif;

// Font-sizes

$font-xs: 0.625rem;
$font-sm: 0.9rem;
$font-md: 1rem;
$font-lg: 1.125rem;

// Padding


// Breakpoints

$tablet:48em;
$desktop:64em;

